AppWeb/Service References/Cliente_ListaProv/ServicioListaProv2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51568/ServicioListaProv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfListaProv" />
  <xs:element name="ObtenerProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfListaProv" minOccurs="0" name="ObtenerProveedoresResult" nillable="true" type="q1:ArrayOfDtoProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>