AppWeb/Service References/ServiceReference1/ProveedorDadoRUT3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServicioProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServicioProveedor" nillable="true" type="tns:ServicioProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServicioProveedor" nillable="true" type="tns:ArrayOfServicioProveedor" />
  <xs:complexType name="ServicioProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutProveedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServicioProveedor" nillable="true" type="tns:ServicioProveedor" />
</xs:schema>