AppWeb/Service References/ServiceReference1/ProveedorDadoRUT2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54486/ProveedorDadoRUT.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFProveedorDadoRUT" />
  <xs:element name="BuscarProveedorRut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorRutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFProveedorDadoRUT" minOccurs="0" name="BuscarProveedorRutResult" nillable="true" type="q1:DtoProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>