AppWeb/Service References/Cliente_ProveedorDadoRUT/ProveedorDadoRUT1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFProveedorDadoRUT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFProveedorDadoRUT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54486/ProveedorDadoRUT.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:complexType name="DtoProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="ListaServicios" nillable="true" type="q1:ArrayOfServicioProveedor" />
      <xs:element minOccurs="0" name="NombreFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esInactivo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoProveedor" nillable="true" type="tns:DtoProveedor" />
</xs:schema>