AppWeb/Service References/ServiceReference4/ServicioListaProv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfListaProv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfListaProv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDtoProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoProveedor" nillable="true" type="tns:DtoProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoProveedor" nillable="true" type="tns:ArrayOfDtoProveedor" />
  <xs:complexType name="DtoProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esInactivo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoProveedor" nillable="true" type="tns:DtoProveedor" />
</xs:schema>