AppWeb/Service References/ServiceReference9/ServicioAgregarProv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioAgregarProv" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51387/ServicioAgregarProv.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51387/ServicioAgregarProv.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51387/ServicioAgregarProv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAgregarProv" />
      <xsd:import schemaLocation="http://localhost:51387/ServicioAgregarProv.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgregarProv_InsertarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProveedor" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_InsertarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_AgregarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuario" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_AgregarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_AgregarServicioAProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarServicioAProveedor" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_AgregarServicioAProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarServicioAProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_ExisteRUT_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteRUT" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_ExisteRUT_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteRUTResponse" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_ExisteMail_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteMail" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_ExisteMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteMailResponse" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_CargarServicios_InputMessage">
    <wsdl:part name="parameters" element="tns:CargarServicios" />
  </wsdl:message>
  <wsdl:message name="IAgregarProv_CargarServicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:CargarServiciosResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgregarProv">
    <wsdl:operation name="InsertarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgregarProv/InsertarProveedor" message="tns:IAgregarProv_InsertarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgregarProv/InsertarProveedorResponse" message="tns:IAgregarProv_InsertarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgregarProv/AgregarUsuario" message="tns:IAgregarProv_AgregarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgregarProv/AgregarUsuarioResponse" message="tns:IAgregarProv_AgregarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarServicioAProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgregarProv/AgregarServicioAProveedor" message="tns:IAgregarProv_AgregarServicioAProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgregarProv/AgregarServicioAProveedorResponse" message="tns:IAgregarProv_AgregarServicioAProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteRUT">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgregarProv/ExisteRUT" message="tns:IAgregarProv_ExisteRUT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgregarProv/ExisteRUTResponse" message="tns:IAgregarProv_ExisteRUT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgregarProv/ExisteMail" message="tns:IAgregarProv_ExisteMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgregarProv/ExisteMailResponse" message="tns:IAgregarProv_ExisteMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CargarServicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgregarProv/CargarServicios" message="tns:IAgregarProv_CargarServicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgregarProv/CargarServiciosResponse" message="tns:IAgregarProv_CargarServicios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgregarProv" type="tns:IAgregarProv">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarProveedor">
      <soap:operation soapAction="http://tempuri.org/IAgregarProv/InsertarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarUsuario">
      <soap:operation soapAction="http://tempuri.org/IAgregarProv/AgregarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarServicioAProveedor">
      <soap:operation soapAction="http://tempuri.org/IAgregarProv/AgregarServicioAProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteRUT">
      <soap:operation soapAction="http://tempuri.org/IAgregarProv/ExisteRUT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteMail">
      <soap:operation soapAction="http://tempuri.org/IAgregarProv/ExisteMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarServicios">
      <soap:operation soapAction="http://tempuri.org/IAgregarProv/CargarServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioAgregarProv">
    <wsdl:port name="BasicHttpBinding_IAgregarProv" binding="tns:BasicHttpBinding_IAgregarProv">
      <soap:address location="http://localhost:51387/ServicioAgregarProv.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>