AppWeb/Service References/ServiceReference9/ServicioAgregarProv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAgregarProv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAgregarProv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51387/ServicioAgregarProv.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:complexType name="DtoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rol" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoUsuario" nillable="true" type="tns:DtoUsuario" />
  <xs:complexType name="DtoProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaServicios" nillable="true" type="tns:ArrayOfDtoServicioProveedor" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="MiUsuario" nillable="true" type="q1:Usuario" />
      <xs:element minOccurs="0" name="NombreFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="esInactivo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoProveedor" nillable="true" type="tns:DtoProveedor" />
  <xs:complexType name="ArrayOfDtoServicioProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoServicioProveedor" nillable="true" type="tns:DtoServicioProveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoServicioProveedor" nillable="true" type="tns:ArrayOfDtoServicioProveedor" />
  <xs:complexType name="DtoServicioProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutProveedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoServicioProveedor" nillable="true" type="tns:DtoServicioProveedor" />
  <xs:complexType name="ArrayOfDtoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoServicio" nillable="true" type="tns:DtoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoServicio" nillable="true" type="tns:ArrayOfDtoServicio" />
  <xs:complexType name="DtoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
      <xs:element minOccurs="0" name="ListaTipoEventos" nillable="true" type="tns:ArrayOfDtoTipoEvento" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoServicio" nillable="true" type="tns:DtoServicio" />
  <xs:complexType name="ArrayOfDtoTipoEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoTipoEvento" nillable="true" type="tns:DtoTipoEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoTipoEvento" nillable="true" type="tns:ArrayOfDtoTipoEvento" />
  <xs:complexType name="DtoTipoEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTipoEvento" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoTipoEvento" nillable="true" type="tns:DtoTipoEvento" />
</xs:schema>