AppWeb/Service References/ServiceReference3/CatalogoServicios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFCatalogoServicios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFCatalogoServicios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDtoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoServicio" nillable="true" type="tns:DtoServicio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoServicio" nillable="true" type="tns:ArrayOfDtoServicio" />
  <xs:complexType name="DtoServicio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdServicio" type="xs:int" />
      <xs:element minOccurs="0" name="Servicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="misTiposEventos" nillable="true" type="tns:ArrayOfDtoTipoEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoServicio" nillable="true" type="tns:DtoServicio" />
  <xs:complexType name="ArrayOfDtoTipoEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtoTipoEvento" nillable="true" type="tns:DtoTipoEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtoTipoEvento" nillable="true" type="tns:ArrayOfDtoTipoEvento" />
  <xs:complexType name="DtoTipoEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtoTipoEvento" nillable="true" type="tns:DtoTipoEvento" />
</xs:schema>